#root {
  min-height: 100vh;
}
.main-header-container {
  flex-shrink: 0;

  min-height: 400px;
  background: rgba(0, 0, 0, 0.5);
  background-position: 50% 50%;
  color: rgba(255, 255, 255, 0.9);
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-header-container::after {
  content: "";
  position: absolute;
  background-image: url("./assets/14.jpg");
  background-size: cover;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.main-title {
  line-height: 1.2 !important;
  font-size: 5rem !important;
  font-weight: 700;
}
.footer {
  min-height: 100px;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  bottom: 0;
  flex-shrink: 0;
}
.footer::after {
  content: "";
  position: absolute;
  background-image: url("./assets/14.jpg");
  background-size: cover;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
